[submodule "learn-claude-code"]
	path = phase-a/exercises
	url = git@github.com:Kexin-Wei/learn-claude-code.git
[submodule "claude-code"]
	path = phase-a/claude-code
	url = git@github.com:Kexin-Wei/claude-code.git
[submodule "claude-quickstarts"]
	path = phase-a/quickstarts
	url = git@github.com:anthropics/claude-quickstarts.git
